img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.member-profiles {
  display: flex;
  flex-grow: 0;
}

.member-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;

  flex-grow: 0;
  text-align: left;
  margin: auto;

  font-family: Montserrat;
  color: var(--text-color);
}

.profile-item {
  display: flex;
  flex-grow: inherit;
  justify-content: center;
}