@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
  font-family: ElaineSans-ExtraBold;
  src: url("./fonts/Elaine-Sans-Black/ElaineSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Beon-Medium';
  src:url('./fonts/Beon-Medium/Beon-Medium.ttf.woff') format('woff'),
      url('./fonts/Beon-Medium/Beon-Medium.ttf.svg#Beon-Medium') format('svg'),
      url('./fonts/Beon-Medium/Beon-Medium.ttf.eot'),
      url('./fonts/Beon-Medium/Beon-Medium.ttf.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
}

:root {
  --bg: #47D1AE !important;
  --bg-accent: #17573e;
  --text-color: #dadce1;
  --border: transparent;

  --color-dark: #2C3131;
  --color-light: #F3F3F2;
  
  --nav-size: 60px;
  --border-radius: 8px;
  --speed: 300ms;
}

html {
  scroll-behavior: smooth;
}

body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: var(--bg); */

  /*TODO: Consider adding linear gradient to background*/
  background: linear-gradient(210deg,#8CD987 0%,#1FA595 100%);
}

* > * {
  margin: 0;
}

p {
  display: flex;
  margin: 1rem 6rem;
  text-indent: 2rem;
  line-height: 3;
}